# Terraform
.DS_Store
# Ignore state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory (working directory)
.terraform

# Ignore crash reports
crash.log

# Ignore sensitive files, like the tfplan or other plan files
*.tfplan

# Ignore modules downloaded by Terraform (optional, you can uncomment this if you want to manage modules via Git)
.terraform.lock.hcl
**/*.csv

# Java
voters/target
**/target/
**/build/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
replay_pid*

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Python
./**/.venv
**/__pycache__/
**/*.py[cod]
*$py.class
**/*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
.pdm.toml

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Custom Environment
./**/db-env.sh

.az-sp.sh

# SSH Keys
loader.key

# Instance IP address (dynamic)
infra/aws/mgr-vm/instance-ip.txt

# AWS Credentials
# ... existing code ...
