# Terraform
.DS_Store
# Ignore state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory (working directory)
.terraform

# Ignore crash reports
crash.log

# Ignore sensitive files, like the tfplan or other plan files
*.tfplan

# Ignore modules downloaded by Terraform (optional, you can uncomment this if you want to manage modules via Git)
.terraform.lock.hcl
**/*.csv

voters/target

# IntelliJ
.idea/

# Custom Environment
./infra/aws/db/db-env.sh

.az-sp.sh

# SSH Keys
loader.key

# AWS Credentials
infra/aws/creds.sh

./**/.venv
